@model IEnumerable<ParcialDos.Models.Recepcion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recepcion</h2>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.Folio)
        </th>
        <th>
            Fecha Recepción
        </th>
        <th>
            Fecha Entrega
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Localidad)
        </th>
        <th>
            Cantidad Muestras
        </th>
        <th>
            Cliente
        </th>
        <th>
            Laboratorio
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Folio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRecepcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEntrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Localidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadMuestras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.int_clientes.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Laboratorios.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }, new { @class = "text-success" }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id }, new { @class = "text-danger" })
        </td>
    </tr>
}

</table>
